{% extends 'base.html' %}

{% block content %}


<h1>welcome to courier, {{user.username}}</h1>
{% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="alert alert-dismissible alert-{{ messages[0][0] }}">
                <ul>
                    {% for message in messages %}
                        <li>{{ message[1] }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endwith %}

    <h2>With courier, you can read news from sources you trust and no ads, curated to your preferences.</h2>
<h2>
    Let's get started. Help us store your preferences.
</h2>
<form action="/user/home" method="POST">
    {{ form.hidden_tag() }}
    {% for field in form if field.widget.input_type != 'hidden' %}
        {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
        <div class="form-group">
            <label for="{{ field.id }}">{{ field.label.text }}</label>
            <select name="{{ field.name }}[]" multiple class="form-control" id="{{ field.id }}">
                {% for display, value in countries %}
                    <option value="{{ value }}" {% if value in field.data %}selected{% endif %}>{{ display }}</option>
                {% endfor %}
            </select>
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Select my countries</button>
</form>

    

    

<form action="/user/news">
    <button>What's the news?</button>
</form>
{% endblock %}