{% extends 'base.html' %}

{% block content %}


<h1 class="container">here's your preferred news</h1>
{% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ messages[0][0] }} alert-dismissible fade show container" role="alert">
                {{ message[1] }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
        {% endif %}
{% endwith %}


<div class="container text-center">
    <div class="row">
        {% for article in data['articles'] %}
        <div class="col-md-8 mx-auto">
            <div class="card mb-4">
                <div class="card-header">{{article['source']['name']}}</div>
                  <div class="card-body">
                    <h5 class="card-title">{{article['title']}}</h5>
                    {% if article['urlToImage'] %}
                    <img src="{{article['urlToImage']}}" class="card-img" alt="">
                    {% endif %}
                    {% if article['description'] %}
                    <p class="card-text">{{article['description']}}</p>
                    {% endif %}
                    {% if article['url'] is not none %}
                    <a href="{{article['url']}}" class="btn btn-primary">You can read this story here</a>
                    {% endif %}
                  </div>
                  <div class="card-footer text-muted">
                    
                  </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>




<script>
    document.addEventListener('DOMContentLoaded', () => {
        
    })
</script>
{% endblock %}