{% extends 'base.html' %}

{% block content %}


<h1>welcome to courier</h1>
{% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="alert alert-dismissible alert-{{ messages[0][0] }}">
                <ul>
                    {% for message in messages %}
                        <li>{{ message[1] }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endwith %}

<form action="/user/news">
    <button>What's the news?</button>
</form>
{% endblock %}